@model Vidly2.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var title = Model.Customer.Id == 0 ? "New Customer" : "Update Customer";
}


<h2>@title</h2>

@using (Html.BeginForm("Save", "Customer"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.DOB)
        @Html.TextBoxFor(m => m.Customer.DOB, "{0:dd/MMM/yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.DOB)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter)Subscribe To Newsletter?
        </label>
    </div>
    @Html.HiddenFor(m => m.Customer.Id)
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true,"Please fix the errors...")
    <button type="submit" class="btn btn-default">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
}
